table.center {
  border: 2px solid red;
  border-collapse: collapse;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-image: url(https://wallpaperaccess.com/full/100114.jpg);

}

th, td {
  color: black;
  border: 1px solid red;
  padding: 5px;
  text-align: center;
}

th {
  background-color: #666699;
}

td {
  background-color: #8c92ac;
}

h1 {
  color: #002061;
  text-align: center;
}

h2 {
  text-align: center;
  padding-top: 50;
}

li {
  padding-left: 10px;
  color: black;
}

a {
  text-decoration: underline;
}

p {
  padding-left: 30px;
  font-weight: bold;
}

div {
  h3 {
    text-align: center;
  }
}

#versetext, #verseloc{
  text-align: center;
  color: #002061 !important;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.spacing {
  margin-left: 20;
  padding-bottom: 20;
  text-align: center;
  color: #002061 !important;
}

.questions {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

@media (min-width: 51%) {
  .table{
    padding: 50;
  }
}

@media (max-width: 50%) {
  .table{
    padding: 20;
  }
}
