$color: black;
$head-color: #006A4E;
$headsm-color: #00308F;
$indent: 5em;
$border: 60px;
$font: 20;
$spacing: 40px;
$weight: bold;
$align: center;
$backwarncolor: orange;
$backpasscolor: lightgreen;
$decor: underline;
$shadow: multiply;
$image: url(https://image.freepik.com/free-vector/wavy-smooth-lines-pattern-background_1017-14206.jpg);
$repeat: repeat;
$imp: !important;
$none: 0px;
%message {
  font-family: serif;
  font-size: 20px;
  margin: 40px;
}

div {
   a {
     padding-top: $border;
   }
   p {
     color: $color;
     text-indent: $indent;
     padding-left: $border;
     padding-right: $border;
     padding-bottom: $border;
     font-size: $font;
   }
   h2 {
     color: $head-color;
     padding-bottom: $spacing;
   }
   h3 {
     color: $headsm-color;
   }
}

.error {
  @extend %message;
  background-color: #ffa6a6;
  font-size: 40px $imp;
  font-weight: $weight;
  text-align: $align;
}

.warning {
  @extend %message;
  background-color: $backwarncolor;
  text-align: $align;
}

.success {
  @extend %message;
}

.return {
  text-align: $align;
  margin: $none $imp;
}

.backbutton {
  color: $color;
  text-decoration: $decor;
  font-weight: $weight;
  padding-left: $border;
  padding-bottom: $border;
}

.Romansroad {
  padding-bottom: $spacing;
}
