$color: #b80f1d;
$head-color: #ccaa00;
$headsm-color: #2c3007;
$indent: 5em;
$boarder: 60px;
$font: 20;
$spacing: 40px;
$weight: bold;
$align: center;
%message {
  font-family: serif;
  font-size: 20px;
  margin: 80px;
}

div {
   p {
     color:$color;
     text-indent: $indent;
     padding-left: $boarder;
     padding-right: $boarder;
     padding-bottom: $boarder;
     font-size: $font;
   }
   h2 {
     color: $head-color;
     padding-bottom: $spacing;
   }
   h3 {
     color: $headsm-color;
   }
}

.error {
  @extend %message;
  background-color: #ffa6a6;
  font-size: 40px !important;
  font-weight: $weight;
  text-align: $align;
}

.warning {
  @extend %message;
}

.success {
  @extend %message;
}
